<div>
	<h1>Управление тестами</h1>

	<!-- Динамическая смена компонента. -->
	<component v-bind:is="CurrentComponent.Component" v-bind:ModelTest="ModelTest" v-bind:storage="storage"
		v-bind:CurrentComponent="CurrentComponent" v-on:HideChildComponent="HideChildComponent()"
		v-on:IsChanged="GetListTests()"></component>

	<!-- Текущий компонент Управление тестами. -->
	<div v-if="CurrentComponent.Component == null">
		<button type="button" class="btn btn-secondary" v-on:click="GoCreateTest()">Создать</button>
		<button type="button" class="btn btn-secondary" v-on:click="GetListTests()">Обновить</button>
		<button type="button" class="btn btn-secondary" v-on:click="GoQuestion()">Управление вопросами</button>
		<br>

		<!-- Список всех тетстов. -->
		<table class="table">
			<tr>
				<th>№ Теста</th>
				<th>Название</th>
				<th>Описание</th>
				<th>Управление</th>
			</tr>
			<tr v-for="test in listtests" :key="test.Id">
				<td>{{test.Id}}</td>
				<td>{{test.Name}}</td>
				<td>{{test.Description}}</td>
				<td>
					<button :id="test.Id" type="button" class="btn btn-secondary"
						v-on:click="GoEditTest(test.Id)">Изменить</button>
					<button :id="test.Id" type="button" class="btn btn-secondary"
						v-on:click="GoTestQuestionsView(test.Id)">Вопросы</button>
					<!-- <button :id="test.Id" type="button" class="btn btn-secondary" v-on:click="RemoveTest(test.Id)">Удалить
						тест</button> -->
				</td>
			</tr>
		</table>
	</div>
</div>