<div>
	<h1>Управление тестами</h1>

	<div v-if="IsTestView">
		<!-- Номер -->
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Номер</span>
			</div>
			<input readonly :value="ModelTest.Id" type="text" class="form-control" aria-label="Small"
				aria-describedby="inputGroup-sizing-sm" />
		</div>

		<!-- Название -->
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Название</span>
			</div>
			<input v-model="ModelTest.Name" type="text" class="form-control" aria-label="Small"
				aria-describedby="inputGroup-sizing-sm" />
		</div>

		<!-- Описание -->
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Описание</span>
			</div>
			<input v-model="ModelTest.Description" type="text" class="form-control" aria-label="Small"
				aria-describedby="inputGroup-sizing-sm" />
		</div>

		<button v-if="IsCreateTest" type="button" class="btn btn-secondary" v-on:click="CreateTest()">Создать</button>
		<button v-if="IsCreateTest == false" type="button" class="btn btn-secondary"
			v-on:click="SaveChangeTest()">Сохранить</button>
		<button type="button" class="btn btn-secondary" v-on:click="CancelChangeTest()">Отмена</button>
	</div>

	<div v-if="IsTestQuestionsView">
		<!-- Выбор из списка существующих вопросов. -->
		<div>
			<!-- Управление фильтром -->
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="button">Обновить</button>
					<button class="btn btn-outline-secondary" type="button">Сброс</button>
					<button class="btn btn-outline-secondary" type="button">Найти</button>
				</div>
				<input type="text" class="form-control" placeholder="Введите фильтр вопросов" aria-label=""
					aria-describedby="basic-addon1">
			</div>

			<!-- Отображение списка привязанных вопросов. -->
			<div>
				<ul class="list-group">
					<li v-for="questiontest in listtestquestions" :key="questiontest.id" class="list-group-item">Cras justo odio</li>
				</ul>
			</div>
		</div>

		<!-- Поиск в списке ответов. -->
		<div>
			<!-- Управление фильтром -->
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="button">Обновить</button>
					<button class="btn btn-outline-secondary" type="button">Сброс</button>
					<button class="btn btn-outline-secondary" type="button">Найти</button>
				</div>
				<input type="text" class="form-control" placeholder="Введите фильтр ответов" aria-label=""
					aria-describedby="basic-addon1">
			</div>

			<!-- Отображение списка ответов. -->
			<div>

			</div>
		</div>

		<button type="button" class="btn btn-secondary" v-on:click="CancelQuestionsView()">Отмена</button>
	</div>

	<div v-if="(IsTestQuestionsView || IsTestView) == false">
		<button type="button" class="btn btn-secondary" v-on:click="GoCreateTest()">Создать</button>
		<br>
		<!-- Список всех тетстов. -->
		<table class="TableTestList">
			<tr>
				<td>№ Теста</td>
				<td>Название</td>
				<td>Описание</td>
				<td>Управление</td>
			</tr>
			<tr v-for="test in listtests" :key="test.Id">
				<td>{{test.Id}}</td>
				<td>{{test.Name}}</td>
				<td>{{test.Description}}</td>
				<td>
					<button :id="test.Id" type="button" class="btn btn-secondary"
						v-on:click="GoEditTest(test.Id)">Изменить</button>
					<button :id="test.Id" type="button" class="btn btn-secondary"
						v-on:click="GoTestQuestionsView(test.Id)">Вопросы</button>
					<button :id="test.Id" type="button" class="btn btn-secondary" v-on:click="RemoveTest(test.Id)">Удалить
						тест</button>
				</td>
			</tr>
		</table>
	</div>
</div>