@{
  ViewBag.Title = "Тестирование знаний";
}

<div class="jumbotron">
  <h1>Тестирование знаний</h1>
  <p class="lead">Создавай тесты, проводит тестирование, собирай статистику.</p>
</div>

<div class="row">
  <div class="col-md-4">
    1 колонка строки
  </div>
  <div class="col-md-4">
    2 колонка строки
  </div>
  <div class="col-md-4">
    3 колонка строки
  </div>
</div>