<div>
	<!-- Выбор из списка существующих вопросов. -->
	<div>
		<!-- Управление фильтром -->
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-outline-secondary" type="button">Обновить</button>
				<button class="btn btn-outline-secondary" type="button">Сброс</button>
				<button class="btn btn-outline-secondary" type="button">Найти</button>
			</div>
			<input type="text" class="form-control" placeholder="Введите фильтр вопросов" aria-label=""
				aria-describedby="basic-addon1">
		</div>

		<!-- Отображение списка привязанных вопросов. -->
		<div>
			<!-- Список всех тетстов. -->
			<table class="TableTestList">
				<tr>
					<td>№</td>
					<td>Вопрос</td>
					<td>Управление</td>
				</tr>
				<tr v-for="questiontest in listtestquestions" :key="questiontest.id">
					<td>{{questiontest.Id}} = {{ModelTest.Id}}</td>
					<td>{{questiontest.Text}}</td>
					<td>
						<button :id="questiontest.Id" type="button" class="btn btn-secondary"
							v-on:click="RemoveQuestion(questiontest.Id)">Удалить
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- Поиск в списке ответов. -->
	<div>
		<!-- Управление фильтром -->
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-outline-secondary" type="button">Обновить</button>
				<button class="btn btn-outline-secondary" type="button">Сброс</button>
				<button class="btn btn-outline-secondary" type="button">Найти</button>
			</div>
			<input type="text" class="form-control" placeholder="Введите фильтр ответов" aria-label=""
				aria-describedby="basic-addon1">
		</div>

		<!-- Отображение списка ответов. -->
		<div>

		</div>
	</div>

	<button type="button" class="btn btn-secondary" v-on:click="CancelQuestionsView()">Отмена</button>
</div>