@{
  ViewBag.Title = "Тестирование знаний";

  <div class="jumbotron">
    <h1>Тестирование знаний</h1>
    <p class="lead">Создавай тесты, проводи тестирование, просматривай статистику.</p>
  </div>

  <!-- Общее меню. -->
  <div id="Menu"></div>
  <!-- Содержимое страницы. -->
  <div id="Content"></div>
}