
@{
  Layout = null;
}

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="utf-8">
  <title>KnowledgeTesting</title>
</head>

<body>
  <div id="app"></div>

  @Scripts.Render("~/bundles/VueJs")
</body>

</html>
