<div>
	<h1>Наша цель</h1>
	<p>
		Собрать единомышленников для поддержания и повышения популярности самого доступного функционального
		вида тренировок &ndash; бега.
	</p>
	<h1>Как это работает</h1>
	<p>
		Любой пользователь может просматривать доступные беговые мероприятия.
		Зарегистрированные пользователи, в дополнение к этому, могут:
	<ul>
		<li>создавать собственные мероприятия и управлять ими (редактировать описание, составлять маршрут и т.п.);</li>
		<li>участвовать в мероприятиях, созданных другими пользователями.</li>
	</ul>
	</p>
	<h1>Следующий шаг</h1>
	<p>
		Вы можете ознакомиться с доступными мероприятиями <b-link href="#/marathon-list">здесь</b-link>.
		Зарегистрируйтесь, чтобы получить больше возможностей.
	</p>
</div>