<div>
	<h3>Управление вопросами</h3>

	<div>
		<button type="button" class="btn btn-secondary" v-on:click="">Создать</button>
		<button type="button" class="btn btn-secondary" v-on:click="GetAllQuestions()">Обновить</button>
	</div>

	<table class="table">
		<tr>
			<th>#</th>
			<th>Вопрос</th>
			<th>Ответы</th>
		</tr>
		<tr v-for="question in ListQuestions">
			<td>{{question.Id}}</td>
			<td>{{question.Text}}</td>
			<td>
				<div v-for="answer in question.Answers" class="input-group mb-3">
					<input :id="answer.AnswerId" :value="answer.AnswerText" type="text" class="form-control">
					<input v-if="answer.IsCorrect" :id="answer.QuestionId+'#'+answer.AnswerId" type="text" class="form-control"
						v-on:click="SetCorrectAnswer(answer.QuestionId, answer.AnswerId)" value="Правильный" readonly>
					<button v-if="answer.IsCorrect == false" :id="answer.QuestionId+'#'+answer.AnswerId" type="button"
						class="btn btn-secondary" v-on:click="SetCorrectAnswer(answer.QuestionId, answer.AnswerId)">Выбрать</button>
					<button v-if="answer.IsCorrect == false" :id="answer.QuestionId+'#'+answer.AnswerId" type="button"
						class="btn btn-secondary" v-on:click="SetCorrectAnswer(answer.QuestionId, answer.AnswerId)">Удалить</button>
					<!-- Что-то не зашло сделать красиво с чек-боксами. Так и не захотел адекватно работать с ними.
						<div class="input-group-prepend">
						<div class="input-group-text">
							<input v-if="answer.IsCorrect" :id="answer.QuestionId+'#'+answer.AnswerId" type="checkbox"
								aria-label="Checkbox for following text input"
								v-on:click="SetCorrectAnswer(answer.QuestionId, answer.AnswerId)" checked>
							<input v-if="answer.IsCorrect == false" :id="answer.QuestionId+'#'+answer.AnswerId" type="checkbox"
								aria-label="Checkbox for following text input"
								v-on:click="SetCorrectAnswer(answer.QuestionId, answer.AnswerId)">
						</div>
					</div> -->
				</div>
			</td>
		</tr>
	</table>

	<button type="button" class="btn btn-secondary" v-on:click="$emit('HideChildComponent')">Закрыть</button>
</div>