@{
  ViewBag.Title = "Создать тест";
}
<h2>Создать тест:</h2>

<div id="testdata">
  <p><label>Название:</label><input type="text" id="Name" /></p>
  <p><label>Краткое описание:</label><input type="text" id="Description" /></p>
</div>

<div id="testquestions"></div>

<div id="addquestion">
  <div id="selectboxquestions"></div>
  <input id="btn_addquestion" type="submit" value="Добавить вопрос"/>
</div>

<input id="btn_savetest" type="submit" value="Сохранить тест" />