@model KnowledgeTesting.Models.CreateTestModel

@{
  ViewBag.Title = "Создать тест";
}
<h2>Создать тест:</h2>

<div>@Model.Notification</div>

<form id="createtestmodel">
  <p>Название: @Html.EditorFor(Model => Model.Test.Name)</p>
  <p>Краткое описание: @Html.EditorFor(Model => Model.Test.Description)</p>
  <p>Выберите вопрос: @Html.DropDownListFor(l => Model.SelectedQuestionId, (SelectList)ViewBag.Questions)</p>
</form>

<input id="btn_addanswer" type="submit" value="Добавить вопрос" />
<input id="btn_savetest" type="submit" value="Сохранить тест" />