@model KnowledgeTesting.Models.TestManagementViewModel

  @{
    ViewBag.Title = "Тестирование знаний";
  }

  <div class="jumbotron">
    <h1>Тестирование знаний</h1>
    <p class="lead">Создавай тесты, проводи тестирование, просматривай статистику.</p>
  </div>

  <!-- Общее меню. -->
  <div class="row">
    <div class="col-md-4">
      @Html.ActionLink("Создать тест", "CreateTest", "TestManagement", new { area = "" }, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <br>

  <!-- Квесты. -->
  <div class="row">
    <!-- Список тестов. -->
    <div class="col-md-4">
      Тесты:
      <div class="list-group">
        <button type="button" class="list-group-item">Cras justo odio</button>
        <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
        <button type="button" class="list-group-item">Morbi leo risus</button>
        <button type="button" class="list-group-item">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item">Vestibulum at eros</button>
      </div>
    </div>

    <!-- Список вопросов для выбранного теста. -->
    <div class="col-md-4">
      Вопросы:
      <div class="list-group">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped table-hover sortable">
            <tr>
              <td>
                <a href="#" class="list-group-item">Cras justo odio</a>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="list-group-item">Morbi leo risus</a>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
              </td>
              <td>
                <button type="button" class="list-group-item">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Правильный ответ. -->
    <div class="col-md-4">
      Правильный ответ:
      <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropup
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Общее меню. -->
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      @Html.ActionLink("Добавить вопрос", "AddAnswer", "TestManagement", new { area = "" }, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
      @Html.ActionLink("Сохранить", "SaveTest", "TestManagement", new { area = "" }, new { @class = "btn btn-default" })
      @Html.ActionLink("Удалить", "DeleteTest", "TestManagement", new { area = "" }, new { @class = "btn btn-default" })
    </div>
  </div>
